asgiref==3.7.2
beautifulsoup4==4.12.3
charset-normalizer==3.3.2
defusedxml==0.7.1
distlib==0.3.8
dj-database-url==2.1.0
Django==5.0.1
django-bootstrap4==24.1
django-debug-toolbar==4.3.0
django-filter==23.5
djangorestframework==3.14.0
filelock==3.13.1
idna==3.6
oauthlib==3.2.2
packaging==23.2
pillow==10.2.0
platformdirs==4.2.0
psycopg2-binary==2.9.9
pycparser==2.21
PyJWT==2.8.0
pytz==2024.1
soupsieve==2.5
sqlparse==0.4.4
typing_extensions==4.9.0
tzdata==2023.4
urllib3==2.2.0
virtualenv==20.25.0
