
{% extends 'base.html' %}
{% load bootstrap4 %}
{% block body %}        
    <!-- bradcam_area  -->
    <link href="https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;400&family=Aguafina+Script&family=Amatic+SC&family=Barrio&family=Bellota:wght@300&family=Black+Ops+One&family=Caveat&family=Chakra+Petch:ital,wght@1,300&family=Cinzel&family=Cookie&family=Croissant+One&family=Dancing+Script&family=Faster+One&family=Fuggles&family=Gugi&family=Hammersmith+One&family=Homemade+Apple&family=Itim&family=Lilita+One&family=Montserrat+Alternates:wght@100&family=Nothing+You+Could+Do&family=Orbitron&family=Playball&family=Rajdhani&family=Satisfy&family=Sedgwick+Ave+Display&family=Shadows+Into+Light&family=Space+Mono&family=Barlow+Condensed:wght@300&family=Tilt+Prism&family=Yellowtail&family=Protest+Guerrilla&family=Protest+Riot&family=Dhurjati&family=Rubik+Glitch&family=Roboto+Mono:wght@100&family=Bokor&family=Diphylleia&family=Macondo&family=Comic+Neue:wght@300&display=swap" rel="stylesheet" />
    <style>
        .bradcam_area {
		display: inline-block;
		position: relative;
		width: 100%;
            	background-color: #f8f9fa;
            	padding: 100px 0;
            	text-align: center;
	    	margin-bottom: 100px;
		font-family: 'Itim', sans-serif !important;
        }
	.cardtext {
		font-family: 'Itim', sans-serif;	
	}
	.bottom {
		display: inline-block;
		position: relative;
		margin-bottom: 200px;
	}
	.row {
		font-family: 'Itim', sans-serif;	
	}
    </style>
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>
                            {% if total_jobs_count > 0 %}
                              {{ total_jobs_count }}+ Jobs Available
                            {% else %}
                              No jobs available
                            {% endif %}
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->

    <!-- job_listing_area_start  -->
    <div class="job_listing_area plus_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="job_filter white-bg">
                        <div class="form_inner white-bg">
                            <h3>Filter</h3>
                            <form method="GET">
                                {% bootstrap_form myfilter.form %}
                    
                                <input type="submit" value="Search" class="boxed-btn3 w-100 mt-2">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="recent_joblist_wrap">
                        <div class="recent_joblist white-bg ">
                            <div class="row align-items-center">
                                <div class="col-md-6">
                                    <h4>Job Listing</h4>
                                </div>
                                <div class="col-md-6">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="job_lists m-0">
                        <div class="row">
                           {% for job in jobs %}
                            <div class="col-lg-12 col-md-12">
                                <div class="single_jobs white-bg d-flex justify-content-between">
                                    <div class="jobs_left d-flex align-items-center">
					    <div class="thumb">
						    <img src="{{ job.image.url }}"  alt="" 
						    style=
						    "position: relative;
						     display: inline-block;
						     max-width: 100px; 
						     max-height: 100px;
						     right: 25px;
						     bottom: 25px;">
                                        </div>
                                        <div class="jobs_conetent">
                                            <a href="{% url 'jobs:job_detail' job.slug %}"><h4>{{job}}</h4></a>
                                            <div class="links_locat d-flex align-items-center">
                                                <div class="location">
                                                    <p> <i class="fa fa-map-marker"></i> California, USA</p>
                                                </div>
                                                <div class="location">
                                                    <p> <i class="fa fa-clock-o"></i> {{job.job_type}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="jobs_right">
                                        <div class="apply_now">
                                            <a class="heart_mark" href="#"> <i class="fa fa-heart"></i> </a>
                                            <a href="{% url 'jobs:job_detail' job.slug %}" class="boxed-btn3">Apply Now</a>
                                        </div>
                                        <div class="date">
                                            <p>Date line: {{job.published_at|date:'d M o'}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% empty %}
      <p style="font-size: 20px;">There are currently no jobs available.</p>
                            {% endfor %}
                        </div>
                        
                        {% if jobs.has_other_pages %}   
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="pagination_wrap">
                                        <ul>
                                            
                                            {% if jobs.has_previous %}
                                                <li><a href="?page={{jobs.previous_page_number}}"> <i class="ti-angle-left"></i> </a></li>
                                            {% endif %}

                                            {% for i in jobs.paginator.page_range %}
                                                <li><a href="?page={{i}}"><span>{{i}}</span></a></li>
                                            {% endfor %}
                                            


                                            {% if jobs.has_next %}
                                                <li><a href="?page={{jobs.next_page_number}}"> <i class="ti-angle-right"></i> </a></li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- job_listing_area_end  -->
{% endblock body %}
